{% extends 'base.html' %}
{% block content %}
<article>
    <header>
        <h1>Welcome to abuissa.net</h1>
        <p>For now, this website primarily hosts my <a href="/resume">resume</a>, but expect more content down the line.</p>
        <p>
            <a href="blog"></a>
        </p>
    </header>
    <section>
        <h2>PennCycle</h2>
        <p>I run the PennCycle website, which you can see in its responsive form in the handy iframe below.</p>
        <iframe src="http://app.penncycle.org" width="600px" height="500px"></iframe>
    </section>
    <section>
        <h2>This site</h2>
        <p>This website is running Python 3. View the source <a href="http://github.com/razzius/razzi">here</a>.</p>
    </section>
    <footer>
        <object width="250" height="40" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsSong507686844" name="gsSong507686844"><param name="movie" value="http://grooveshark.com/songWidget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=5076868&style=metal&p=0" /><object type="application/x-shockwave-flash" data="http://grooveshark.com/songWidget.swf" width="250" height="40"><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=5076868&style=metal&p=0" /><span><a href="http://grooveshark.com/search/song?q=Silk%20Road%20Ensemble%2FYo-Yo%20Ma%20Origins%3A%20Battle%20Remembered" title="Origins: Battle Remembered by Silk Road Ensemble/Yo-Yo Ma on Grooveshark">Origins: Battle Remembered by Silk Road Ensemble/Yo-Yo Ma on Grooveshark</a></span></object></object>
    </footer>
</article>

<aside>
    <img class="fruity" src="/static/img/fruity.png" alt="">
    <p>Grew up in Iowa City, now at Penn. Interested in technology and sustainability.</p>
</aside>

{% endblock %}