{% extends 'base.html' %}
{% block content %}
<article>
    <header>
        {% include 'iowa_js.html' %}
    </header>
    <section>
        <h2><a href="/projects">Projects</a></h2>
        <p>Web projects and ideas can be found <a href="/projects">here</a>. Care to collaborate? Email me at <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#114;&#97;&#122;&#122;&#105;&#53;&#51;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>&#114;&#97;&#122;&#122;&#105;&#53;&#51;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>.</p>
    </section>
    <section>
        <h2>This site</h2>
        <p>This website is running Python 3. View the source <a href="http://github.com/razzius/razzi">here</a>.</p>
    </section>
</article>

<aside>
    <img class="fruity" src="/static/img/fruity.png" alt="">
    <p>About: Grew up in Iowa City, now in Philadelphia at the University of Pennsylvania. Interested in technology, entrepreneurship, and sustainability.</p>
</aside>
<aside style="margin-top: 40px; padding-top: 16px">
     <object width="250" height="40" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="gsSong3599970199" name="gsSong3599970199"><param name="movie" value="http://grooveshark.com/songWidget.swf" /><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=35999701&style=metal&p=0" /><object type="application/x-shockwave-flash" data="http://grooveshark.com/songWidget.swf" width="250" height="40"><param name="wmode" value="window" /><param name="allowScriptAccess" value="always" /><param name="flashvars" value="hostname=grooveshark.com&songID=35999701&style=metal&p=0" /><span><a href="http://grooveshark.com/search/song?q=alt-J%20Something%20Good" title="Something Good by alt-J on Grooveshark">Something Good by alt-J on Grooveshark</a></span></object></object>
</aside>

{% endblock %}