{% extends 'base.html' %}

{% block path %}/<a href="/projects">projects</a>
{% endblock %}

{% block style %}
<style>
iframe {
    box-shadow: 0px 0px 15px rgba(0, 0, 255, .3);
    -moz-transform: scale(0.75, 0.75); 
    -webkit-transform: scale(0.75, 0.75); 
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.25); 
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}
.aside {
    margin-top: 50px;
}
.domain {
    font-size: 30px;
    font-weight: bold;
}
.switcher {
    position: relative;
}
.next {
    position: absolute;
    bottom: 0px;
    right: 40px;
}
</style>
{% endblock %}

{% block content %}
<div class="row-fluid penncycle">
    <div class="span9">
        <div class="row-fluid switcher">
            <div class="span5 offset3"><a class="domain" href="http://app.penncycle.org">penncycle.org</a></div>
            <div class="span3 btn next">Recycling Game &#187;</div>
            <div class="span1">&nbsp;</div>
        </div>        
        <br>
        <iframe src="http://app.penncycle.org" frameborder="0" style="width:125%" height="550px"></iframe>
    </div>
    <div class="span3 aside">
        <div>
            <p>The student-run bike share of the University of Pennsylvania. More than 400 signups since its start in 2011.</p>
            <ul>Features:
                <li>Dynamic info on bikes and locations</li>
                <li>Twilio integration for SMS checkouts</li>
                <li>Admin interface for fleet management</li>
            </ul>
            <ul>Coming soon:
                <li>Phone app for signup and checkouts</li>
                <li>Bike GPS integration using <a href="http://www.bikespike.com/">BikeSpike</a></li>
            </ul>
            <div>Previous developers:</div>
            <div><a href="http://alexrattray.com">Alex Rattray</a> and <a href="http://kevinshen.net">Kevin Shen</a></div>
            <br>
            <div>PennCycle is hiring! Email <a href="mailto:messenger@penncycle.org">messenger@penncycle.org</a> for more information.</div>
        </div>
    </div>
</div>
<div class="row-fluid">
    


</div>
{% endblock %}



        Projects:
        -Penncycle
        -Popcorn portal
        -Recycling game

        Ideas:
        -Recyclepedia
        -Recursive learning
        -Campus express
