{% extends 'base.html' %}

{% block path %}/<a href="/resume">resume</a>
{% endblock %}

{% block style %}
<style type="text/css">
body{
	background: #ddd;
}
.top-row {
	position: relative;
}
.right{
	text-align: right;
}
.sheet{
	/*display: none;*/
	font-family: sans-serif;
	background: #fff;
	width: 75%;
	padding: 50px;
	margin: 0px auto;
	box-shadow: 0px 15px 25px #888;
}
.email {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.heading{
	font-weight: bold;
}
a {
	color: #333333;
}
a:hover {
	color: #333333;
}
</style>
{% endblock %}

{% block content %}
<!-- <div id="loading" class="centered">Loading...</div> -->
<div id="resume" class="sheet">
	<div class="row-fluid top-row">
		<h2 class="span6">Razzi N. Abuissa</h2>
		<h4 class="span6 right email"><a href="mailto:razzi53@gmail.com">razzi53@gmail.com</a></h4>
	</div>
	<hr>
	<div class="row-fluid">
		<div class="span8 offset1"><em>School:</em> 120 South 41st Street, Philadelphia, PA 19104</div>
		<div class="span3 right">319-594-3124</div>
	</div>
	<div class="row-fluid">
		<div class="span8 offset1"><em>Home:</em> 1428 Buresh Avenue, Iowa City, IA 52245</div>
		<div class="span3 right">319-354-3142</div>
	</div>
	<h3 class="heading">Education</h3>
	<div class="row-fluid">
		<div class="span11 offset1">
			<span class="heading">University of Pennsylvania</span>, Philadelphia, PA
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8 offset1">
			Candidate for Bachelor of Science
		</div>
		<div class="span3 right">Expected May 2015</div>
	</div>
	<div class="row-fluid">
		<div class="offset1">
			Cumulative GPA: 3.84 / 4
		</div>
	</div>	<div class="row-fluid">
		<div class="offset1">
			Dean's list (Fall 2011 - Spring 2012)
		</div>
	</div>
	<br>
	<div class="row-fluid">
		<div class="span8 offset1">
			<span class="heading">Udacity</span>, online university at <a href="http://www.udacity.com">www.udacity.com</a>
		</div>
		<div class="span3 right">
			2012 - Present
		</div>
	</div>
	<div class="row-fluid">
		<div class="span11 offset1">
			Coursework: Building a Search Engine, Web Development, Software Testing
		</div>

	</div>
	<br>
<!-- 	<div class="row-fluid">
		<div class="span8 offset1">
			<span class="heading">University of Iowa</span>, Iowa City, IA
		</div>
		<div class="span3 right">2010-2011</div>
	</div>
	<div class="row-fluid">
		<div class="span11 offset1">
			Took Arabic and Math through post-secondary enrollment
		</div>
	</div>
	<br>
	It took up too much space, but I'm glad you're seeing it here!
-->
	<div class="row-fluid">
		<div class="span11 offset1">
			<span class="heading">Iowa City High School</span>, Iowa City, IA
		</div>
	</div>
	<div class="row-fluid">
		<div class="span7 offset1">Valedictorian, Iowa Governor's Scholar</div>
		<div class="span4 right">Graduated May 2011</div>
	</div>
	<br>
	<h3 class="heading">Work Experience</h3>
	<div class="row-fluid">
		<div class="span7 offset1">
			<span class="heading">PennCycle</span>&mdash;Webmaster
		</div>
		<div class="span4 right">
			September 2012 - Present
		</div>
	</div>
	<div class="row-fluid">
		<ul class="offset2">
			<li>Developed <a href="http://app.penncycle.org">penncycle.org</a> for the distribution and management of Penn's on-campus 26-bike fleet</li>
			<li>Implemented phone-based checkout system to facilitate rental process</li>
			<li>Awarded <a href="http://www.tech-house.upenn.edu/">Weiss Tech House</a> innovation fund grant to integrate GPS into fleet</li>
		</ul>
	</div>
	<div class="row-fluid">
		<div class="span7 offset1">
			<span class="heading">Penn Chemistry Department</span>&mdash;Research
		</div>
		<div class="span4 right">
			Summer 2012
		</div>
	</div>
	<div class="row-fluid">
		<ul class="offset2">
			<li>Performed research in computational chemistry under <a href="http://www.sas.upenn.edu/~subotnik/Site/Home_Page.html">Joseph Subotnik</a></li>
			<li>Analyzed Q-Chem molecular structure data using MATLAB and Excel</li>
			<li>Automated job submission and data collection using Python</li>
		</ul>
	</div>
	<div class="row-fluid">
		<div class="span7 offset1">
			<span class="heading">The Daily Pennsylvanian</span>&mdash;Online Graphics
		</div>
		<div class="span4 right">
			January 2012 - February 2013
		</div>
		<div class="row-fluid">
			<ul class="offset2">
				<li>Created 18 interactive media graphics for the <a href="http://www.thedp.com/staff/razzi_abuissa">website</a> of Penn's student newspaper</li>
				<li>Awarded 3rd place for Interactive Graphic in the Columbia Scholastic Press Association's 2013 Gold Circle Awards in Digital Media</li>
			</ul>
		</div>
	</div>
	<h4 class="heading">Skills</h4>
	<div class="row-fluid">
		<ul class="offset2">
			<li>Programming: Python, Javascript, C, Java, OCaml, MATLAB, Shell</li>
			<li>Front End Web: HTML, CSS, jQuery, LESS CSS</li>
			<li>Back End Web: Django, SQL, South, Flask</li>
			<li>Software: Sublime Text, git, Adobe Creative Suite</li>
			<li>Language: Fluent in English, Spanish; conversational in French, Arabic</li>
		</ul>
	</div>
	<h4 class="heading">Activities</h4>
	<div class="row-fluid">
		<ul class="offset2">
			<li>Penn Environmental Group: Energy Committee Chair Fall 2012-Spring 2013</li>
			<li>Swing dancing: Choreographed and instructed dance to 8 members of Penn's swing dance troupe for our showcase</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	// $(function(){
	// 	$("#loading").remove();
	// 	$("#resume").slideDown("fast");
	// });
</script>
{% endblock %}